.form-group{
  background-color: #f0b744;
}
.login1{
  z-index: 1;
  position: absolute;

}
.login{
  z-index: 2;
  position: absolute;
  margin-top: 36%;
  width: 90%;
  //i
}
//.login-page{
//  width: 350px;
//}