<ion-split-pane>
  <ion-menu contentId="content">
    <ion-header>
      <ion-toolbar color="medium">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content color="dark">
      <ion-list>
      <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
        <ion-item [href]="p.url" [class.active-item]="selectedPath===p.url" routerDirection="root" color="dark">
          <ion-label>
            {{p.tittle}}
          </ion-label>
        </ion-item>
      </ion-menu-toggle>

        <ion-menu-toggle auto-hide="false" *ngFor="let p of pagesA" >
          <ion-item *ngIf="loginUserRole==='Admin'"
                    [href]="p.url" [class.active-item]="selectedPath===p.url" routerDirection="root" color="dark">
            <ion-label>
              <div>
                {{p.Tittle}}
              </div>
            </ion-label>
          </ion-item>
        </ion-menu-toggle>


      </ion-list>
    </ion-content>

  </ion-menu>
  <ion-router-outlet name="menucontent" id="content" main></ion-router-outlet>
</ion-split-pane>
