<ion-header *ngIf="isLogin">
    <ion-toolbar color="medium">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>register</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="isLogin" padding color="medium">
    <div>


        <p style="color: red" *ngIf="errorMessage.length > 0">
            {{errorMessage}}</p>

        <p style="color: red" *ngIf="error.message.length > 0">
            {{error.message}}</p>


        <ion-item color="medium">
            <ion-label for="email" position="floating">
                <ion-icon name="ios-person"></ion-icon>
                First Name
            </ion-label>
            <ion-input type="text" name="name" required [(ngModel)]="fName"></ion-input>
        </ion-item>

        <ion-item color="medium">
            <ion-label for="email" position="floating">
                <ion-icon name="ios-person"></ion-icon>
                Last Name
            </ion-label>
            <ion-input type="text" name="name" required [(ngModel)]="lName"></ion-input>
        </ion-item>

        <ion-item color="medium">
            <ion-label for="email" position="floating">
                <ion-icon name="ios-person"></ion-icon>
                User Name
            </ion-label>
            <ion-input type="text" name="name" class="form-control" required [(ngModel)]="uName"></ion-input>
        </ion-item>


        <ion-list-header>
            <ion-label>Role</ion-label>
        </ion-list-header>

        <div style="width: 50%; margin: auto">
            <ion-radio-group [(ngModel)]="rolen">
                <ion-item color="medium">
                    <ion-label>Admin</ion-label>
                    <ion-radio value="Admin"></ion-radio>
                </ion-item>

                <ion-item color="medium">
                    <ion-label>Employee</ion-label>
                    <ion-radio value="Employee"></ion-radio>
                </ion-item>
            </ion-radio-group>
        </div>


        <ion-item color="medium">
            <ion-label for="email" position="floating">
                <ion-icon name="ios-call"></ion-icon>
                Phone Number
            </ion-label>
            <ion-input type="number" name="number" required [(ngModel)]="pNumb"></ion-input>
        </ion-item>

        <ion-item color="medium">
            <ion-label for="email" position="floating">
                <ion-icon name="ios-mail"></ion-icon>
                Email
            </ion-label>
            <ion-input type="email" name="email" required
                       [(ngModel)]="email"></ion-input>
        </ion-item>


        <ion-item color="medium">
            <ion-label for="password" position="floating">
                <ion-icon name="git-compare"></ion-icon>
                Password
            </ion-label>
            <ion-input type="password" name="password" required
                       [(ngModel)]="password"></ion-input>
        </ion-item>


        <ion-button (click)="onSignUp()" style="float: right">Register</ion-button>


    </div>

</ion-content>

<div *ngIf="!isLogin">
    <p>Please wait...</p>
</div>
